[Desktop Entry]
Type=Application

Exec=user_apps_monitor
TryExec=user_apps_monitor

Icon=appimage

Categories=System;

Name=AppImage User Applications Monitor
Comment="Monitor AppImage files in HOME/Applications and /opt/applications to create or remove proper desktop integration files."

NoDisplay=true