[Desktop Entry]
Encoding=UTF-8
Type=Application

Name=Appimage First Run Utility
Categories=System;Utils;

TryExec=appimage-first-run
Exec=appimage-first-run %F

Icon=appimage

Description=First run utility to verify and deploy desktop integration files for Appimages.

MimeType=application/x-iso9660-appimage;
Actions=Verify;Deploy;GlobalDeploy;

[Desktop Action Verify]
Exec=appimage-first-run --verify
Name=Verify Authenticity

[Desktop Action Deploy]
Exec=appimage-first-run --deploy
Name=Deploy Locally

[Desktop Action GlobalDeploy]
Exec=appimage-first-run --deploy-global
Name=Deploy System Wide