[Desktop Entry]
Type=Application

Exec=appimage_first_run
TryExec=appimage_first_run

Icon=appimage

MimeType=application/x-iso9660-appimage;application/vnd.appimage;
Categories=System;

Name=Appimage First Run Utility
Comment=First run utility to verify and deploy desktop integration files for Appimages.
